doctype html
html
    head
        title=title
    body
        link(rel='stylesheet' href='/stylesheets/style.css' type='text/css')
        link(rel='stylesheet' href='/css/material-design-iconic-font.css' type='text/css')
        link(rel='stylesheet' href='/css/bootstrap.css' type='text/css')
        script(src="/javascripts/jquery-3.3.1.slim.js")
        nav.navbar.navbar-expand-lg.navbar-light.bg-light
            a.navbar-brand(href='/')
                img.img-responsive.max-w-120(src="/images/logo.png")
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNavDropdown', aria-controls='navbarNavDropdown', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarNavDropdown.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link(href='/car/list/1') Cars
                    li.nav-item
                        a.nav-link(href='/client/list/1') Clients

        block content

