extends ../layout

block content
    .card.col-sm-10
        .card-body
            .col-lg-12
                form(method="post")
                    h2 Add New Client
                    .form-group
                        label(for='firstname') Firstname
                        input#firstname.form-control(type='text', aria-describedby='name', placeholder="Firstname...", name="firstName")
                    .form-group
                        label(for='lastname') Lastname
                        input#lastname.form-control(type='text', aria-describedby='name', placeholder="Lastname...", name="lastName")
                    .form-group
                        label(for='tel') Phone Number
                        input#tel.form-control(type='tel', aria-describedby='name', placeholder="Phone...", name="phone")
                    .form-group
                        label(for='car') Car
                        select#car.form-control(type='select', placeholder='Select a car...', name="car")
                            option(value="0") Select an option..
                            each car in cars
                                option(value=car._id) #{car.name}

                    button.btn.btn-primary(type='submit') Add
