extends ../layout

block content
    .card.col-sm-10.p-0
        .card-body.p-0
            .col-lg-12.p-0
                table.table
                    thead.thead-light
                        tr
                            th Firstame
                            th Lastname
                            th Phone Number
                            th Car
                            th.text-right
                                a.btn.btn-outline-dark(href="../insert/") Add+
                    tbody
                        each val in clients
                            tr
                                td #{val.firstName}
                                td #{val.lastName}
                                td #{val.phone}
                                if val.car.deleted != true
                                    td #{val.car.name}
                                else
                                    td
                                td.d-flex.justify-content-around
                                    a.btn.btn-success(href="../update/" + val._id) Edit&nbsp;
                                        i.zmdi.zmdi-edit
                                    a.btn.btn-danger(href="../delete/" + val._id) Delete&nbsp;
                                        i.zmdi.zmdi-delete
                ul.pagination.float-right
                    if active == 1
                        a.page-link.previous.disabled(href='/car/list/' + (1), aria-label='Previous')
                            span(aria-hidden='true') Previous
                            span.sr-only
                    else
                        a.page-link.previous(href='./' + (active - 1), aria-label='Previous')
                            span(aria-hidden='true') Previous
                            span.sr-only Previous
                    each _, i in Array(pagina)
                        if active == i + 1
                            li.page-item.active
                                a.page-link(href='./' + (i + 1))= i + 1
                        else
                            li.page-item
                                a.page-link(href='./' + (i + 1))= i + 1
                    if active == pagina
                        a.page-link.next.disabled(href='./' + (parseInt(active)), aria-label='Next')
                            span(aria-hidden='true') Next
                            span.sr-only Next
                    else
                        a.page-link.next(href='./' + (parseInt(active) + 1), aria-label='Next')
                            span(aria-hidden='true') Next
                            span.sr-only Next