extends ../layout

block content
    .card.col-sm-10
        .card-body
            .col-lg-12
                form(method="post")
                    h2 Update Client
                    .form-group
                        label(for='name') Firstname
                        input#name.form-control(type='text', aria-describedby='name', placeholder='Name...', value=client.firstName, name="firstName")
                    .form-group
                        label(for='year') Lastname
                        input#year.form-control(type='text', placeholder='year', value=client.lastName, name="lastName")
                    .form-group
                        label(for='description') Phone Number
                        input#description.form-control(type='text', placeholder='description', value=client.phone, name="phone")
                    .form-group
                        label(for='car') Car
                        select#car.form-control(type='select', placeholder='Select a car...', name="car")
                            option(value="0") Select an option..
                            each car in cars
                                if(car._id.toString()==client.car)
                                    option(value=car._id, selected) #{car.name}
                                else
                                    option(value=car._id) #{car.name}
                    br
                    button.btn.btn-primary(type='submit') Update
