body{
    background-color: #122C34 !important;
}

.card{
    margin: 10px auto
}
.max-w-120{
    max-width: 120px;
}
.homeimg{
    min-width: 100%;
    max-height: 91.5vh;
}

.disabled{
    pointer-events:none;
    background-color: #d3d3d3 !important;
    color: #000 !important;
}