extends ../layout

block content
    .card.col-sm-10
        .card-body
            .col-lg-12
                form(method="post")
                    h2 Add New Car
                    .form-group
                        label(for='name') Name
                        input#name.form-control(type='text', aria-describedby='name', placeholder="Name...", name="name")
                    .form-group
                        label(for='year') Year
                        input#year.form-control(type='number', placeholder='Year...', name="year", min=1900, max=parseInt(year)+1)
                    .form-group
                        label(for='description') Description
                        input#description.form-control(type='text', placeholder='description...', name="description")
                    button.btn.btn-primary(type='submit') Add
