extends ../layout

block content
    .card.col-sm-10
        .card-body
            .col-lg-12
                form(method="post")
                    h2 Update Car
                    .form-group
                        label(for='name') Name
                        input#name.form-control(type='text', aria-describedby='name', placeholder='Name...', value=car.name, name="name")
                    .form-group
                        label(for='year') Year
                        input#year.form-control(type='number', placeholder='year', value=car.year, name="year", max=parseInt(year)+1)
                    .form-group
                        label(for='description') Description
                        input#description.form-control(type='text', placeholder='description', value=car.description, name="description")
                    br
                    button.btn.btn-primary(type='submit') Update
